<!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label mdl-cell mdl-cell&#45;&#45;12-col">-->
    <!--<input id="COMPANY_NAME" name="COMPANY_NAME" type="text"  class="mdl-textfield__input"/>-->
    <!--<label class="mdl-textfield__label" for="COMPANY_NAME">Company Name</label>-->
    <!--<span class="mdl-textfield__error">Can not be Empty</span>-->
<!--</div>-->
<!--<script>-->

    <!--componentHandler.upgradeDom();-->
    <!--$('#COMPANY_NAME').datepicker({-->
        <!--onClose: function(date, datepicker) {-->
            <!--$('#COMPANY_NAME')[0].parentElement.MaterialTextfield.change(date||"");-->
        <!--}-->
    <!--});-->

<!--</script>-->
