<div class="row" xmlns:th="http://www.thymeleaf.org">
    <div class="col-12">
        <input type="hidden" id="se" th:value="${id}" />
        <div class="card">
            <div class="card-body row">

                <div class="col-3"></div>
                <div class="col-6">
                    <div class="card">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div style="padding:3%;color: white;background-color: #343a40;">
                            <!-- /.widget-user-image -->
                            <h3 th:text="${data.getName()}"></h3>
                            <h5 th:text="${data.getTotal()}"></h5>
                            <h5 th:text="${data.getFinalMark()}"></h5>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-4 border-right" style="color: blue">
                                    <div class="description-block">
                                        <h5 class="description-header" th:text="${data.getCorrect()}"></h5>
                                        <span class="description-text">Correct</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4 border-right" style="color: red">
                                    <div class="description-block">
                                        <h5 class="description-header" th:text="${data.getWrong()}">13,000</h5>
                                        <span class="description-text">Wrong</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4">
                                    <div class="description-block" style="color: yellow">
                                        <h5 class="description-header" th:text="${data.getNotAnswered()}"></h5>
                                        <span class="description-text">Not Answered</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <div class="row">
                                <button type="button" onclick="generateReport()">Print Details</button>
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                </div>

                <div class="col-3"></div>
            </div>
        </div>
    </div>
    <!-- /.col -->
</div>

<script src="/js/finalResult.js"></script>
