<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>e-examen</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700;display=fallback"/>
    <link rel="stylesheet" href="/css/config/all.min.css"/>
    <link rel="stylesheet" href="/css/config/icheck-bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/config/bootstrap-4.min.css"/>
    <link rel="stylesheet" href="/css/config/toastr.min.css"/>
    <link rel="stylesheet" href="/css/config/adminlte.min.css"/>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>e-</b>examen</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Send Password Reset Request!...</p>

            <div>
                <div class="input-group mb-3">
                    <input  id="username"  type="text" class="form-control" placeholder="Username"/>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="button" onclick="location.href ='/'" class="btn btn-primary btn-block">Back</button>
                    </div>
                    <!-- /.col -->
                    <div class="col-6">
                        <button id="btnForgotPassword" type="button" class="btn btn-primary btn-block">Send Request</button>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <p class="mb-1">

            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

<script src="/js/config/jquery.min.js"></script>
<script src="/js/config/bootstrap.bundle.min.js"></script>
<script src="/js/config/sweetalert2.min.js"></script>
<script src="/js/config/toastr.min.js"></script>
<script src="/js/config/adminlte.min.js"></script>


<script type="text/javascript" src="/js/constant.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/forgotPassword.js"></script>
</body>
</html>