<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="/css/config/materialize.min.css" rel="stylesheet"/>	
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>	
		<script src="/js/config/jquery-3.3.1.min.js"></script>		
		<title>Job</title>
	</head>
	<body>
	
		<div class="navbar-fixed">
			<nav class="deep-purple darken-2">
			<div class="nav-wrapper">
				<a href="#!" class="brand-logo">Logo</a>
				<ul class="right hide-on-med-and-down">
					
				</ul>
			</div>
			</nav>
		</div>
		<div id="appInnerContainer">
			<div class="row">
		 		<h1>Welcome home</h1>
		 		<a href="logout">Logout</a>
			</div>  
   		</div>  	
		<script src="/js/config/materialize.min.js"></script>
		<script src="/js/login.js"></script>
	</body>
</html>