<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="/css/config/icon.css" rel="stylesheet"/>			
		<link rel="stylesheet" href="/css/config/material.min.css"/>
		<link rel="stylesheet" href="/css/config/material.blue-yellow.min.css"/>
		<link rel="stylesheet" href="/css/config/mdl-selectfield.min.css"/>	
		<link rel="stylesheet" href="/css/config/dataTables.material.min.css"/>	
		<link rel="stylesheet" href="/css/config/custom.css"/>				    
		<script type="text/javascript" src="/js/config/jquery-3.3.1.min.js"></script>		
		<title>Job</title>
	</head>
	<body>
	    <div class="mdl-layout__container">
	        <div class="mdl-layout mdl-js-layout">
	            <header class="mdl-layout__header  mdl-layout--fixed-header">
	                <div class="mdl-layout__header-row">       
						<span class="mdl-layout-title">Title</span>
					    <div class="mdl-layout-spacer"></div>
					      
				        <nav class="mdl-navigation mdl-layout--large-screen-only">
				         <a class="mdl-navigation__link" href="Javascript:app.reset('/dashBoard/')">Home</a>
						 <a class="mdl-navigation__link" href="logout">Logout</a>				        
				        </nav>
	                </div>
	            </header>
	            <div class="mdl-layout__drawer">
					<span class="mdl-layout-title">Main Menu</span>
				    <nav class="mdl-navigation">				 
				      <a class="mdl-navigation__link" href="Javascript:loadPage('/sysUser/')">System User</a>   
				      <a class="mdl-navigation__link" href="Javascript:loadPage('/userRole/')">User Role</a>
				      <a class="mdl-navigation__link" href="Javascript:loadPage('/section/')">Section</a>
				      <a class="mdl-navigation__link" href="Javascript:loadPage('/authority/')">Authority</a>
				      <a class="mdl-navigation__link" href="Javascript:loadPage('/sysRoleAuthority/')">User Role Authority</a>
				    </nav>
	            </div>
	            <main class="mdl-layout__content" id="appInnerContainer">

	            </main>
	            <footer class="mdl-mini-footer">
	
	            </footer>
	        </div>
	    </div>	
	    
	    <dialog class="mdl-dialog">
	    	<div class="mdl-dialog__content">

		    </div>
		    <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
	    		<button type="button" class="mdl-button" id="mdl-dialog-success"></button>
		      	<button type="button" class="mdl-button" id="mdl-dialog-failed"></button>
		    </div>
	    </dialog>
	    
	    <script type="text/javascript" src="/js/config/material.min.js"></script>
   		<script type="text/javascript" src="/js/config/jquery.dataTables.min.js"></script>    	
		<script type="text/javascript" src="/js/config/dataTables.material.min.js"></script>		
		<script type="text/javascript" src="/js/config/mdl-selectfield.min.js"></script>	
		
		<script type="text/javascript" src="/js/application.js"></script>
		<script type="text/javascript" src="/js/init.js"></script>	
		<script type="text/javascript" src="/js/menu.js"></script>
		<script type="text/javascript" src="/js/constant.js"></script>
		<script type="text/javascript" src="/js/common.js"></script>	
	</body>
</html>