<div class="page-content">
    <div class="mdl-grid">
        <div id="passwordRestRequestGrid" class="mdl-cell mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
            <table id="passwordResetRequestTable" class="mdl-data-table" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Title</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

<script src="/js/passwordResetRequest.js"></script>