<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="studentExamsTable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Examen</th>
                        <th>Duur</th>
                        <th>Aantal Vragen</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

<script src="/js/studentExams.js"></script>
