<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group col-sm-12">
                    <label for="student">Student</label>
                    <select class="form-control form-control-sm" id="student">

                    </select>
                    <span id="student-error" class="error invalid-feedback"></span>
                </div>
                <div class="form-group col-sm-12">
                    <label for="exam">Examination</label>
                    <select class="form-control form-control-sm" id="exam">

                    </select>
                    <span id="exam-error" class="error invalid-feedback"></span>
                </div>
                <div class="form-group col-sm-12">
                    <button id="btnCancel" type="button" class="btn btn-default">Close</button>
                    <button id="btnSave" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button id="btnPrint" type="button" class="btn btn-block bg-gradient-primary btn-sm" style="width:12%;float:left">
                    <i class="fas fa-print"></i> Print
                </button>
                <table id="studentExamAddTable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Student</th>
                        <th>Examination</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

<script src="/js/studentExaminationAdd.js"></script>