
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button id="btnStudentAdd" type="button" class="btn btn-block bg-gradient-primary btn-sm" style="width:12%;float:left">
                    <i class="fa fa-plus"></i> Add New
                </button>
                <table id="studentTable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Created By</th>
                        <th>Created On</th>
                        <th>Updated By</th>
                        <th>Updated On</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>


<div class="modal fade" id="studentModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="formHeading">Add Student</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="email">Email<span style="color: red">*</span></label>
                        <input maxlength="100" type="text" name="email" class="form-control form-control-sm" id="email" aria-describedby="email-error" aria-invalid="false"/>
                        <span id="email-error" class="error invalid-feedback"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="status">Status</label>
                        <select class="form-control form-control-sm" id="status">

                        </select>
                        <span id="status-error" class="error invalid-feedback"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="title">Title</label>
                        <select class="form-control form-control-sm" id="title">

                        </select>
                        <span id="title-error" class="error invalid-feedback"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="name">Name<span style="color: red">*</span></label>
                        <input maxlength="100" type="text" name="name" class="form-control form-control-sm" id="name" aria-describedby="name-error" aria-invalid="false"/>
                        <span id="name-error" class="error invalid-feedback"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="name">Company<span style="color: red">*</span></label>
                        <input maxlength="100" type="text" name="company" class="form-control form-control-sm" id="company" aria-describedby="company-error" aria-invalid="false"/>
                        <span id="company-error" class="error invalid-feedback"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="name">Address<span style="color: red">*</span></label>
                        <input maxlength="100" type="text" name="address" class="form-control form-control-sm" id="address" aria-describedby="address-error" aria-invalid="false"/>
                        <span id="address-error" class="error invalid-feedback"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="name">Zip Code<span style="color: red">*</span></label>
                        <input maxlength="20" type="text" name="zipCode" class="form-control form-control-sm" id="zipCode" aria-describedby="zipCode-error" aria-invalid="false"/>
                        <span id="zipCode-error" class="error invalid-feedback"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="title">City</label>
                        <select class="form-control form-control-sm" id="city">

                        </select>
                        <span id="city-error" class="error invalid-feedback"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="name">VAT NR<span style="color: red">*</span></label>
                        <input maxlength="20" type="text" name="vat" class="form-control form-control-sm" id="vat" aria-describedby="vat-error" aria-invalid="false"/>
                        <span id="vat-error" class="error invalid-feedback"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="name">Telephone<span style="color: red">*</span></label>
                        <input maxlength="50" type="text" name="telephone" class="form-control form-control-sm" id="telephone" aria-describedby="telephone-error" aria-invalid="false"/>
                        <span id="telephone-error" class="error invalid-feedback"></span>
                    </div>

                </div>
                <div class="row">

                    <div class="form-group col-sm-6 hideSection">
                        <label for="status">Examination</label>
                        <select class="form-control form-control-sm" id="examination">

                        </select>
                        <span id="examination-error" class="error invalid-feedback"></span>
                    </div>
                </div>
                <div class="row hideSection">

                    <div class="form-group col-sm-6">
                        <label for="password">Password<span style="color: red">*</span></label>
                        <input maxlength="100" type="text" name="password" class="form-control form-control-sm" id="password" aria-describedby="password-error" aria-invalid="false"/>
                        <span id="password-error" class="error invalid-feedback"></span>
                    </div>
                    <div class="form-group col-sm-2" style="margin-top: 4%;margin-bottom: 4%">
                        <button id="btnGeneratePassword" type="button" class="btn btn-primary btn-block btn-sm"><i class="fas fa-sync-alt"></i>Generate</button>
                    </div>
                </div>

                <div class="modal-footer justify-content-between">
                    <button id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btnSave" type="button" class="btn btn-primary">Save</button>
                    <button id="btnUpdate" type="button" style="display: none;" class="btn btn-primary">Update</button>
                    <button id="btnDelete" type="button" style="display: none;" class="btn btn-danger">Delete</button>
                </div>
            </div>
        <!-- /.modal-content -->
        </div>
    <!-- /.modal-dialog -->
    </div>
</div>
<script src="/js/student.js"></script>