<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-block bg-gradient-primary btn-sm" style="width:12%;float:left" data-toggle="modal" data-target="#modal-lg">
                    <i class="fa fa-bell"></i> Add New
                </button>
                <table id="sysRoleTable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Code</th>
                        <th>Code</th>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Created By</th>
                        <th>Created On</th>
                        <th>Updated By</th>
                        <th>Updated On</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

<script src="/js/sysRole.js"></script>