<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button id="btnSysRoleAdd" type="button" class="btn btn-block bg-gradient-primary btn-sm" style="width:12%;float:left">
                    <i class="fa fa-plus"></i> Add New
                </button>
                <table id="sysRoleTable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Created By</th>
                        <th>Created On</th>
                        <th>Updated By</th>
                        <th>Updated On</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

<div class="modal fade" id="sysRoleModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="formHeading">Add System Role</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="code">Code<span style="color: red">*</span></label>
                    <input maxlength="10" type="text" name="code" class="form-control form-control-sm" id="code" aria-describedby="code-error" aria-invalid="false"/>
                    <span id="code-error" class="error invalid-feedback"></span>
                </div>
                <div class="form-group">
                    <label for="description">Description<span style="color: red">*</span></label>
                    <input maxlength="50" type="text" name="description" class="form-control form-control-sm" id="description" aria-describedby="description-error" aria-invalid="false"/>
                    <span id="description-error" class="error invalid-feedback"></span>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control form-control-sm" id="status">

                    </select>
                    <span id="status-error" class="error invalid-feedback"></span>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="btnSave" type="button" class="btn btn-primary">Save</button>
                <button id="btnUpdate" type="button" style="display: none;" class="btn btn-primary">Update</button>
                <button id="btnDelete" type="button" style="display: none;" class="btn btn-danger">Delete</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script src="/js/sysRole.js"></script>