<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="col-sm-2" for="sysUser" style="float: left;">System User</label>
                <select class="form-control form-control-sm col-sm-10" id="sysUser" style="float: left; width: fit-content;">
                    <option value="">---</option>
                </select>
                <table id="sysUserSysRoleTable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>System Role</th>
                        <th>System User</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>


<script src="/js/sysUserSysRole.js"></script>
