<div class="page-content">
    <div class="mdl-grid">
        <div id="titleForm" class="mdl-cell mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--12-col-desktop" style="display: none">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col"></div>
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col-desktop" style="overflow: inherit; z-index: 1">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text" id="formHeading">Add Title</h2>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <div class="mdl-grid">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                                    <input id="code" name="code" type="text"  class="mdl-textfield__input"/>
                                    <label class="mdl-textfield__label" for="code">Code</label>
                                    <span class="mdl-textfield__error"></span>
                                </div>
                            </div>
                            <div class="mdl-grid">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                                    <input id="description" name="description" type="text" class="mdl-textfield__input"/>
                                    <label class="mdl-textfield__label" for="description">Description</label>
                                    <span class="mdl-textfield__error"></span>
                                </div>
                            </div>
                            <div class="mdl-grid" style="padding-left: 16px">
                                <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label" style="width:98%">
                                    <select class="mdl-selectfield__select" id="status" name="statusName">
                                        <option value=""></option>
                                    </select>
                                    <div class="mdl-selectfield__icon"><i class="material-icons">arrow_drop_down</i></div>
                                    <label class="mdl-selectfield__label" for="status">Status</label>
                                    <span class="mdl-selectfield__error"></span>
                                </div>
                            </div>
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
                                    <button id="btnSave" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  mdl-button--accent">Save</button>
                                    <button id="btnUpdate" type="button" style="display: none;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  mdl-button--accent">Update</button>
                                    <button id="btnDelete" type="button" style="display: none;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  mdl-button--accent">Delete</button>
                                    <button id="btnCancel" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  mdl-button--accent">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col"></div>
            </div>
        </div>
        <div id="titleGrid" class="mdl-cell mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-grid" style="margin-left: 0.5%">
                <button id="btnTitleAdd" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    <i class="material-icons">add</i>Add
                </button>
            </div>
            <table id="titleTable" class="mdl-data-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Created By</th>
                        <th>Created On</th>
                        <th>Updated By</th>
                        <th>Updated On</th>
                        <th>Action</th>
                    </tr>
                </thead>            
                
            </table>
        </div>
    </div>
</div>

<script src="/js/title.js"></script>