<button id="addNewBtn" class="btn waves-effect waves-light deep-purple darken-2" type="button" >Add New User Role</button>   



  <!-- Modal Structure -->
  <div id="sysRoleEditModal" class="modal">
    <div class="modal-content">
     
   	  <div class="input-field col s12">
         <input id="code" type="text" class="validate"/>
         <label for="code">Code</label>
	  </div>
	  <div class="input-field col s12">
         <input id="description" type="text" class="validate"/>
         <label for="description">Description</label>
	  </div>
	  <div class="input-field col s12">
	    <select id="status">
	      <option value="" disabled="disabled">None</option>
	    </select>
	    <label>Status</label>
	  </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

<script src="/js/userRole.js"></script>